<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="canonical" href="http://www.techbow.com/">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta property="og:site_name" content="Techbow">
    <meta property="og:title" content="Techbow">
    <meta property="og:url" content="http://www.techbow.com/">
    <meta property="og:type" content="website">
    <meta itemprop="name" content="Techbow">
    <meta itemprop="url" content="http://www.techbow.com/">
    <meta name="twitter:title" content="Techbow">
    <meta name="twitter:url" content="http://www.techbow.com/">
    <meta name="twitter:card" content="summary">
    <meta name="description" content="Techbow">
    <title>Car Bow</title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/animations.css">
    <link rel="stylesheet" href="/vendor/fontawesome/css/font-awesome.css">
  </head>
  <body>
    <div>
      <div class="homepage_body" style="background-image: url(http://tripalink.com/assets/homepage/house-car-vintage-old-230be36af59c7d9e22276ac65ca99d86897d52e4cf102a0700e36ae708211cf2.jpg);">
      </div>
      <div class="homepage_mask"></div>
      <div class="homepage_main_btn_container" align="center">
          <div class="homepage_main_btn_box">
            <a href=""> 
                  <div class="homepage_main_btn homepage_main_btn_1">
                    <span>
                        SELL
                    </span>
                  </div> 
              </a>
              <a href="">
                  <div class="homepage_main_btn homepage_main_btn_0" style="float:right">
                    <span>
                        BUY
                    </span>
                  </div>
              </a>
          </div>
      </div>
      <div class="home_page_howItWorks" align="center">
      <div class="home_page_howItWorks_title" align="center">
          HOW IT WORKS
      </div>
      <div class="home_page_howItWorks_divider" align="center">
      </div>
      <div class="home_page_howItWorks_container">
          <div class="home_page_howItWorks_content">
              <div>
                  <img src="images/howItWorks_price.png" width="100px" height="100px">
                  <div class="home_page_howItWorks_content_title">
                      Price Transparency
                  </div>
                  <div class="home_page_howItWorks_content_text">
                      The price you are paying is exactly the amount they are selling. Spend your money more clearly on your next loved car. You do not need to pay extra money for unknown salesman, showroom, rental fee, and unsolicited services any more.
                  </div>
              </div>
              <div style="padding-left:6.5%; padding-right:6.5%;">
                  <img src="images/howItWorks_reliable.png" width="100px" height="100px">
                  <div class="home_page_howItWorks_content_title">
                      Reliable Quality
                  </div>
                  <div class="home_page_howItWorks_content_text">
                      Every Tripalink qualified car passed 158 points certified inspection with detailed inspection and vehicle history report posted online. All cars are the best of the best private-owner-used cars with offering a 30-day/1000-mile warranty. 
                  </div>
              </div>
              <div>
                  <img src="images/howItWorks_service.png" width="100px" height="100px">
                  <div class="home_page_howItWorks_content_title">
                      No-hassle Service
                  </div>
                  <div class="home_page_howItWorks_content_text">
                      Feel free to ask for your free inspection and drive test anytime. No obligation to keep using your loved car and buy what you really love. Stay home and set the deal, we would take care of the rest.
                  </div>
              </div>
          </div>
          <!-- <div class="col-xs-12 home_page_howItWorks_content_mobile hidden-md hidden-lg" align="center">
              <img src="/assets/homepage/dollars37-c0720b8486a2bf3bc0b7d4c623d0f3cf086bd620d8b9c0de05dea23488faeaf8.png" width="41.25px" height="55px">
              <div class="col-xs-12 home_page_howItWorks_content_title">
                   Price Transparency
              </div>
              <div class="home_page_howItWorks_content_text home_page_howItWorks_content_text_mobile">
                  The price you are paying is exactly the amount they are selling. Spend your money more clearly on your next loved car. You do not need to pay extra money for unknown salesman, showroom, rental fee, and unsolicited services any more.
              </div>
              <img src="/assets/homepage/award33-02308c9bfe3c12dd4d0f0e239d079652833cec7494615513bff03ac8c53982d9.png" width="55px" height="55px" style="margin-top:35px;">
              <div class="col-xs-12 home_page_howItWorks_content_title">
                   Reliable Quality
              </div>
              <div class="home_page_howItWorks_content_text home_page_howItWorks_content_text_mobile">
                  Every Tripalink qualified car passed 158 points certified inspection with detailed inspection and vehicle history report posted online. All cars are the best of the best private-owner-used cars with offering a 30-day/1000-mile warranty.
              </div>
              <img src="/assets/homepage/worker37-f69cb648b292770e7ebfd1b77c582a5267c39d692870e5e8c9dd551cfbf9d00d.png" width="48.98px" height="55px" style="margin-top:35px;">
              <div class="col-xs-12 home_page_howItWorks_content_title">
                   No-hassle Service
              </div>
              <div class="home_page_howItWorks_content_text home_page_howItWorks_content_text_mobile">
                  Feel free to ask for your free inspection and drive test anytime. No obligation to keep using your loved car and buy what you really love. Stay home and set the deal, we would take care of the rest.
              </div>
          </div> -->
      </div>
      <!--<div class="sell_homepage_container col-xs-12 all-to-none hidden-xs hidden-sm" align="center">
          <div class="sell_homepage_title">
              Simple process to sell your car faster
          </div>
          <img class="sell_step_line" src="/assets/homepage/sell_divider-35af93e3085fe67067df321fca522db9f958bae14bc99e8997c490358df660fd.png" width="100ox" height="1180px">
          <div class="sell_step_container sell_step_container_odd" style="margin-top:41px;">
              <div class="sell_step_left_container" align="center">
                  <img src="/assets/homepage/sell_step_1-54c7740327f69f02426d1ab0d321eeb0e48cda4014e02f88dd286d44ae95f47b.png" height="231px" width="238px" style="margin-top:63px">
              </div>
              <div class="sell_step_right_container" align="center">
                  <div class="sell_step_right_box">
                      <span>
                          Tell us about your car
                      </span>
                      <div>
                          Tell us about your car and get a free quote for up to 30% more than a dealer trade-in. For every quialified, we will provide a free professional pre-purchase vehicle inspection
                      </div>
                  </div>
              </div>    
          </div>
          <div class="sell_step_container sell_step_container_even">
              <div class="sell_step_left_container" align="center">
                  <img src="/assets/homepage/sell_step_2-e08c162cf04501c02b52019d3cb86d1fc1ed8c89ef162d31ffaef155e1b6205d.png" height="220px" width="262px" style="margin-top:70px">
              </div>
              <div class="sell_step_right_container" align="center">
                  <div class="sell_step_right_box">
                      <span>
                          Perform a FREE inspection
                      </span>
                      <div>
                          Our Auto Genius come to your location and perform a 158 points professional inspection of your car with a test drive. Our inspector then take beautiful photos of your car for your listing page.
                      </div>
                  </div>
              </div>    
          </div>
          <div class="sell_step_container sell_step_container_odd">
              <div class="sell_step_left_container" align="center">
                  <img src="/assets/homepage/sell_step_3-4eb0d00befcdb8e1e9e1fd33d7d5cd8817ef8d57d9d5f55e3a10b9af83bc8cbc.png" height="149px" width="327px" style="margin-top:110px">
              </div>
              <div class="sell_step_right_container" align="center">
                  <div class="sell_step_right_box">
                      <span>
                          Let us take care of the rest
                      </span>
                      <div>
                          As soon as your car passes muster, we make it available to the Tripalink community. Our Auto Genius help you to handle all drive tests and price negotiations.
                      </div>
                  </div>
              </div>    
          </div>
          <div class="sell_step_container sell_step_container_even">
              <div class="sell_step_left_container" align="center">
                  <img src="/assets/homepage/sell_step_4-95855381ed06d33d1cc6d1cfab17a77465b5f3fc493420f543bf1650478241ab.png" height="165px" width="280px" style="margin-top:92px">
              </div>
              <div class="sell_step_right_container" align="center">
                  <div class="sell_step_right_box">
                      <span>
                          It's time to say goodbye
                      </span>
                      <div>
                          We'll find a buyer in 30-days or less. Keep driving your car until the moment it is sold. We manage the payment process and all the pain-in-the-exhaust paperwork
                      </div>
                  </div>
              </div>    
          </div>
      </div>
      
      <div class="col-xs-12 adv_photo swiper-container-horizontal" style="overflow-x:hidden !important;">
            <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(-5204px, 0px, 0px);"><div class="swiper-slide adv_photo_4 swiper-slide-duplicate" id="advPhoto_4" data-swiper-slide-index="4" style="width: 1286px; margin-right: 15px;"></div>
                <div class="swiper-slide adv_photo_0" id="advPhoto_0" data-swiper-slide-index="0" style="width: 1286px; margin-right: 15px;"></div>
                <div class="swiper-slide adv_photo_1" id="advPhoto_1" data-swiper-slide-index="1" style="width: 1286px; margin-right: 15px;"></div>
                <div class="swiper-slide adv_photo_2 swiper-slide-prev" id="advPhoto_2" data-swiper-slide-index="2" style="width: 1286px; margin-right: 15px;"></div>
                <div class="swiper-slide adv_photo_3 swiper-slide-active" id="advPhoto_3" data-swiper-slide-index="3" style="width: 1286px; margin-right: 15px;"></div>
                <div class="swiper-slide adv_photo_4 swiper-slide-next" id="advPhoto_4" data-swiper-slide-index="4" style="width: 1286px; margin-right: 15px;"></div>
            <div class="swiper-slide adv_photo_0 swiper-slide-duplicate" id="advPhoto_0" data-swiper-slide-index="0" style="width: 1286px; margin-right: 15px;"></div></div>
            <div class="swiper-pagination swiper-pagination-clickable"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span></div>
            <div class="swiper-button-next next_bottom swiper-button-white"></div>
            <div class="swiper-button-prev prev_bottom swiper-button-white"></div>
      </div>
      -->
<!--
      <div class="col-xs-12 home_page_footer all-to-none">
          <div class="col-xs-12 all-to-none footer_upper">
              <div class="footer_upper_left all-to-none hidden-sm hidden-xs">
                 
              </div>
              <div class="footer_upper_middle all-to-none hidden-sm hidden-xs">
                  <a href="/faq">
                      <div class="col-xs-3 all-to-none" style="text-align:center;">
                          Help Center
                      </div>
                  </a>
                  <div class="col-xs-3 all-to-none" style="text-align:center;">
                      About Us
                  </div>
                  <a href="/terms_policy">
                      <div class="col-xs-3 all-to-none" style="text-align:center;">
                          Terms &amp; Policy
                      </div>
                  </a>
                  <a href="mailto:tripalink.helpcenter@gmail.com">
                      <div class="col-xs-3 all-to-none" style="text-align:center;">
                          Contact Us
                      </div>
                  </a>
              </div>
              <div class="footer_upper_right all-to-none hidden-sm hidden-xs">
                  <div style="max-width: 190px;">
                     <a href="https://www.facebook.com/pages/Tripalink/1045740125437551">      
                         <div class="col-xs-3 foot_img_0">
                             <img src="/assets/homepage/facebook-b799c73f383bc17ecf1291f241ecd111ea1894b5ab14680925fdec47c4125596.png" width="40px" height="40px">
                         </div>
                     </a>
                     <a href="https://twitter.com/tripalink">
                         <div class="col-xs-3 foot_img_1">
                             <img src="/assets/homepage/twitter-24699d25d1d0e6b11e6dd0a978412c9ece52b779fcc0e48f799f3011b04aabb9.png" width="40px" height="40px">
                         </div>
                     </a>
                     <div class="col-xs-3 foot_img_2" style="cursor:not-allowed">
                         <img src="/assets/homepage/weibo-f2c6a8dae300ca5973c6814088988a5f871d06003dc3598f2e217f48a04cce37.png" width="40px" height="40px">
                     </div>
                     <div class="col-xs-3 foot_img_3" data-toggle="modal" data-target="#wechat_box">
                         <img src="/assets/homepage/wechat-ae6a63862a686dcc827233f319ca54bea9b499d8c6e2b6d5ff44e08716e76181.png" width="40px" height="40px">
                     </div>
                  </div>
              </div>
              <div class="hidden-md hidden-lg col-xs-12 footer_mobile_upper">
                  <a href="/faq">
                      <div class="col-xs-3 all-to-none" style="text-align:center;">
                          Help Center
                      </div>
                  </a>
                  <div class="col-xs-3 all-to-none" style="text-align:center;">
                      About Us
                  </div>
                  <a href="/terms_policy">
                      <div class="col-xs-3 all-to-none" style="text-align:center;">
                          Terms &amp; Policy
                      </div>
                  </a>
                  <a href="mailto:tripalink.helpcenter@gmail.com">
                      <div class="col-xs-3 all-to-none" style="text-align:center;">
                          Contact Us
                      </div>
                  </a>
              </div>
              <div class="hidden-md hidden-lg col-xs-12 footer_mobile_lower">
                 <div style="max-width: 190px;">
                     <a href="https://www.facebook.com/pages/Tripalink/1045740125437551">      
                         <div class="col-xs-3 foot_img_0">
                             <img src="/assets/homepage/facebook-b799c73f383bc17ecf1291f241ecd111ea1894b5ab14680925fdec47c4125596.png" width="40px" height="40px">
                         </div>
                     </a>
                     <a href="https://twitter.com/tripalink">
                         <div class="col-xs-3 foot_img_1">
                             <img src="/assets/homepage/twitter-24699d25d1d0e6b11e6dd0a978412c9ece52b779fcc0e48f799f3011b04aabb9.png" width="40px" height="40px">
                         </div>
                     </a>
                     <div class="col-xs-3 foot_img_2" style="cursor:not-allowed">
                         <img src="/assets/homepage/weibo-f2c6a8dae300ca5973c6814088988a5f871d06003dc3598f2e217f48a04cce37.png" width="40px" height="40px">
                     </div>
                     <div class="col-xs-3 foot_img_3" data-toggle="modal" data-target="#wechat_box">
                         <img src="/assets/homepage/wechat-ae6a63862a686dcc827233f319ca54bea9b499d8c6e2b6d5ff44e08716e76181.png" width="40px" height="40px">
                     </div>
                  </div>
              </div>
              <div class="col-xs-12" align="center">
                  <div class="footer_lower">
                      2015 Tripalink Corp. All Rights Reserved.
                  </div>
              </div>
           </div>
       </div>
   </div>
  </div>
--> 
  </body>
</html>